/*=====================*
 * Bootstrap Overwrite *
 *=====================*/

/* Top Nav Bar */
.navbar, .dropdown-menu {
    padding: 0;   
}

.navbar-brand {
    padding: 0 10px 0 10px;
}

.navbar-brand img {
    height: 50px;
}

.dropdown-menu a {
    padding: 5px;   
}


/*========*
 * Custom *
 *========*/

/* General */
body {
    font-family: "Crete Round", serif;
}

section {
    padding-top: 150px;
    height: 100%;
    background: #fff;   
    text-align: center;
}

section:nth-child(odd) {
    background: #eee;
}

/* Stat Gauges */
.gauge-background {
    position: relative;
    width: 85%;
    height: 25px;
}

.health-background {
    background-color: #f53d3d;
}

.stamina-background {
    background-color: #6666ff;   
}

.pattack-background {
    background-color: #ff8533;   
}

.pdefense-background {
    background-color: #ffcc33;   
}

.mattack-background {
    background-color: #99ccff;   
}

.mdefense-background {
    background-color: #90EE90;   
}

.speed-background {
    background-color: #ff4dff;   
}

.gauge-fill {
    position: relative;
    margin: 0 1% 0 4px;
    z-index: 1;
    height: 20px;
    border-width: thin;
    border-style: solid;
    border-color: black;
    border-radius: 0 3px 3px 0;
}

.health-fill {
    background-color: #f20d0d;
}

.stamina-fill {
    background-color: #3333ff;
}

.pattack-fill {
    background-color: #ff6700;
}

.pdefense-fill {
    background-color: #ffbf00;
}

.mattack-fill {
    background-color: #3399ff;
}

.mdefense-fill {
    background-color: #22dd22;
}

.speed-fill {
    background-color: #ff00ff;
}